:root {
  --input-color: #080d11;
  --input-border: #CDD9ED;
  --input-background: #fff;
  --input-placeholder: #CBD1DC;
  --input-border-focus: #275EFE;
  --group-color: var(--input-color);
  --group-border: var(--input-border);
  --group-background: #EEF4FF;
  --group-color-focus: #fff;
  --group-border-focus: var(--input-border-focus);
  --group-background-focus: #678EFE;
}


.button {
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 800;
  display: inline-block;
  color:var(--input-color);
  border-radius: 0.25em;
  cursor: pointer;
  opacity: 0.9;
}
.button:hover{
  opacity: 1;
}

.primary {
  line-height: 40px;
  transition: ease-in-out 0.2s;
  padding: 0 16px;
}

.delete {
  background: #c0392b;

}
.delete:before {
  content: "❌";
}

.inlineIcon.delete:before {
  color: #c0392b;
}


.edit {
  background: #3498db;
  margin: auto 1.5rem ;

}
.edit:before {
  content: "✏";
}



.new {
  background: #2ecc71;
}
.new:before {
  content:"➕";
}

.cancel {
  background: #555555;
}
.cancel:before {
  content: "❌";
}

.save {
  background: #8e44ad;
}
.save:before {
  content: "❤";
}

.form-field {
  display: block;
  width: 80%;
  padding: 8px 16px;
  margin: 1rem 0;
  line-height: 25px;
  font-size: 14px;
  font-weight: 500;
  font-family: inherit;
  border-radius: 6px;
  -webkit-appearance: none;
  color: var(--input-color);
  border: 1px solid var(--input-border);
  background: var(--input-background);
  transition: border 0.3s ease;
}
.form-field::-moz-placeholder {
  color: var(--input-placeholder);
}
.form-field:-ms-input-placeholder {
  color: var(--input-placeholder);
}
.form-field::placeholder {
  color: var(--input-placeholder);
}
.form-field:focus {
  outline: none;
  border-color: var(--input-border-focus);
}

